:root {
  --font-size: 10px;
  --primary-colir: #2196f3;
  --primary-light: #4daaf55c;
  --text-color: #212529;
  --text-light: #7d7d7d;
  --tag-color: #eff1f3;
  --nav-color: #9f9f9f;
  --highlight-color: #f6f8fa;
  --color-dark: #000;
  --color-white: #fff;
  --border-dark: rgba(0, 0, 0, 0.17);
  --border-light: rgba(0, 0, 0, 0.07);
  /* --transition: all 0.2s ease; */
  --transition: all 0.3s linear;
  --content-width: 1024px;
  --tablet-width: 768px;
  --mobile-big-width: 414px;
  --mobile-small-width: 320px;
}

html {
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.6rem;
  color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.content {
  max-width: var(--content-width);
  border: 1px solid var(--tag-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  padding: 25px 40px;
  margin: 30px auto;
}

.header {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--tag-color);
}

.humburger-container {
  display: flex;
  justify-content: flex-end;
}

.hamburger {
  display: none;
}

.header__hamburger {
  margin-right: 20px;
}

.hamburger::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--nav-color);
  border-radius: 5px;
  height: 3px;
  width: 100%;
}

.hamburger__line,
.hamburger::after,
.hamburger::before {
  content: "";
  display: inline-block;
  position: absolute;
  background: var(--nav-color);
  border-radius: 5px;
  height: 3px;
  width: 100%;
}

.hamburger__line {
  top: calc(50% - 1.5px);
  left: 0;
}

.hamburger::after {
  bottom: 0;
  left: 0;
}

.hamburger:hover {
  transform: rotate(90deg);
}

.hamburger:hover .hamburger__line {
  background: var(--primary-colir);
}

.hamburger:hover .hamburger__line:hover,
.hamburger:hover::after,
.hamburger:hover::before {
  background: var(--primary-colir);
}

.navigation {
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navigation__item {
  padding: 15px;
  color: var(--nav-color);
  transition: var(--transition);
}
.navigation__item:hover {
  color: var(--text-color);
}

section {
  padding: 30px 15px;
}

figcaption {
  visibility: hidden;
}

.layout-2-col {
  display: flex;
  flex-wrap: wrap;
}
.hello__info {
  padding: 0 15px;
  min-width: 50%;
  flex-basis: 50%;
  opacity: 0.8;
}
.hello__greet {
  padding: 10px 30px;
  background-color: var(--primary-colir);
  font-size: 1.6rem;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: bold;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
  color: var(--color-white);
}
.hello__title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 52px;
  white-space: nowrap;
}
.hello__text {
  margin-bottom: 30px;
  font-size: 2rem;
  line-height: 24px;
}
.contact-list li {
  margin-bottom: 10px;
}
.contact-list__link {
  display: flex;
  align-items: center;
  color: var(--color-dark);
  opacity: 0.9;
}
.contact-list__item {
  display: flex;
  align-items: center;
}
.social {
  display: flex;
  margin-top: 35px;
}
.social-link {
  margin-right: 15px;
  transition: var(--transition);
}
.icon {
  margin-right: 15px;
  width: 16px;
  height: 16px;
  transition: var(--transition);
}
.icon-social {
  margin: 10px 13px;
  width: 17px;
  height: 17px;
}
.icon-mail {
  background: url(../images/svg/mail_icon.svg) no-repeat center/contain;
}
.icon-phone {
  background: url(../images/svg/phone_icon.svg) no-repeat center/contain;
}
.icon-location {
  background: url(../images/svg/location_icon.svg) no-repeat center/contain;
}
.icon-facebook {
  background: url(../images/svg/facebook_icon.svg) no-repeat center/contain;
}
.icon-twitter {
  background: url(../images/svg/twitter_icon.svg) no-repeat center/contain;
}
.icon-github {
  background: url(../images/svg/github_icon.svg) no-repeat center/contain;
}
.contact-list__item:hover span,
.contact-list__link:hover span {
  filter: invert(48%) sepia(73%) saturate(583%) hue-rotate(166deg)
    brightness(93%) contrast(105%);
}
.social-link:hover {
  border-radius: 4px;
  background-color: var(--color-dark);
}
address {
  font-style: normal;
}
.social-list {
  display: block;
}
.social-list__link {
  display: block;
}
.hello-img {
  margin: 0 auto;
  height: 300px;
  width: 300px;
  border: 20px solid rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  opacity: 0.8;
}
.hello-img img {
  max-width: 100%;
  height: auto;
  border: 20px solid rgba(0, 0, 0, 0.17);
  border-radius: 50%;
}

.section-title {
  font-size: 3.3rem;
  font-weight: 500;
  margin-bottom: 25px;
  opacity: 0.8;
}
.section-subtitle {
  font-size: 2.5rem;
  margin: 20px 0;
  opacity: 0.8;
}
.section-text {
  padding-bottom: 16px;
  opacity: 0.8;
}
.tags {
  margin-left: 50px;
}
.tags-list {
  opacity: 0.8;
}
.tag-list__item {
  list-style: square;
}
.tag {
  padding: 0.2em 0.4em;
  margin-left: 7px;
  font-size: 85%;
  background-color: var(--tag-color);
  border-radius: 6px;
  color: var(--color-dark);
}
.text-light {
  color: var(--text-light);
  font-size: 1.3rem;
}

.footer {
  padding: 25px 0;
  border-top: 2px solid var(--tag-color);
  display: flex;
  justify-content: space-between;
  color: var(--color-dark);
  opacity: 0.8;
}
.icon-git {
  background: url(../images/svg/github_icon.svg) no-repeat center/contain;
  width: 20px;
  height: 20px;
  margin-right: 7px;
  transition: var(--transition);
}
.icon-rsschool {
  background: url(../images/svg/rs_school_js.svg) no-repeat center/contain;
  margin-right: 7px;
  width: 60px;
  height: 30px;
  transition: var(--transition);
}

.to-top {
  position: absolute;
}

@media only screen and (max-width: 768px) {
  .hamburger {
    position: relative;
    top: 10px;
    right: 0;
    display: inline-block;
    width: 31px;
    height: 25px;
    transition: var(--transition);
    cursor: pointer;
  }

  .navigation {
    justify-content: unset;
    align-items: unset;
    flex-direction: column;
    height: 0;
    margin-top: 30px;
    overflow: hidden;
    transition: var(--transition);
  }

  .show-menu {
    height: 365px;
  }

  .navigation__item {
    display: block;
    padding: 10px 0px;
    transition: var(--transition);
  }

  .navigation__item:hover {
    display: block;
    padding: 10px 20px;
    background-color: var(--primary-light);
    color: var(--primary-colir);
  }
  .layout-2-col {
    justify-content: center;
    text-align: center;
  }
  .hello__info {
    margin-bottom: 30px;
    min-width: 100%;
    flex-basis: unset;
  }

  .hello__text {
    margin-bottom: 15px;
  }
  .social {
    margin-top: 25px;
    justify-content: center;
  }
  .contact-list__link {
    justify-content: center;
  }
  .contact-list__item {
    justify-content: center;
  }
}
@media only screen and (max-width: 414px) {
  .content {
    margin: 0;
    padding: 0 20px;
  }
  .hamburger {
    top: 22px;
  }
  .hello__title {
    white-space: normal;
  }
  .hello-img {
    height: 280px;
    width: 280px;
    flex-shrink: 0;
  }
  address {
    white-space: nowrap;
  }
}
@media only screen and (max-width: 320px) {
  .hello-img {
    height: 230px;
    width: 230px;
  }
}
