:root {
  --font-size: 10px;
  --primary-color: #c89961;
  /* --primary-color: #2196f3; */
  --primary-light: #c899612b;
  /* --primary-light: #4daaf55c; */
  --text-color: #212529;
  --text-light: #7d7d7d;
  --tag-color: #c899612b;
  /* --tag-color: #eff1f3; */
  --nav-color: #9f9f9f;
  --highlight-color: #f6f8fa;
  --color-dark: #000;
  --color-white: #fff;
  --border-dark: rgba(0, 0, 0, 0.17);
  --border-light: rgba(0, 0, 0, 0.07);
  --transition: all 0.3s linear;
  --content-width: 1024px;
  --tablet-width: 768px;
  --mobile-big-width: 414px;
  --mobile-small-width: 320px;
}

html {
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.6rem;
  color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.content {
  max-width: var(--content-width);
  border: 1px solid var(--tag-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  padding: 25px 40px;
  margin: 30px auto;
}

.header {
  position: relative;
  /* padding-bottom: 10px; */
  border-bottom: 2px solid var(--tag-color);
}

nav {
  padding: 1rem;
}

.humburger-container {
  display: flex;
  justify-content: flex-end;
  height: 0;
}

.hamburger {
  display: none;
}

.header__hamburger {
  margin-right: 20px;
}

.hamburger::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--nav-color);
  border-radius: 5px;
  height: 3px;
  width: 100%;
}

.hamburger__line,
.hamburger::after,
.hamburger::before {
  content: "";
  display: inline-block;
  position: absolute;
  background: var(--nav-color);
  border-radius: 5px;
  height: 3px;
  width: 100%;
}

.hamburger__line {
  top: calc(50% - 1.5px);
  left: 0;
}

.hamburger::after {
  bottom: 0;
  left: 0;
}

.show-btn {
  transform: rotate(90deg);
}

.show-btn::after {
  background: var(--primary-color);
}
.show-btn > span {
  background: var(--primary-color);
}
.show-btn::before {
  background: var(--primary-color);
}

.header__navigation {
  overflow: hidden;
  height: auto;
}

.navigation {
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navigation__item {
  padding: 15px;
  color: var(--nav-color);
  transition: var(--transition);
}
.navigation__item:hover {
  color: var(--text-color);
}

section {
  padding: 30px 15px;
}

figcaption {
  visibility: hidden;
}

.layout-2-col {
  display: flex;
  flex-wrap: wrap;
}
.hello__info {
  padding: 0 15px;
  min-width: 50%;
  flex-basis: 50%;
  opacity: 0.8;
}
.hello__greet {
  padding: 10px 30px;
  background-color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: bold;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
  color: var(--color-white);
}
.hello__title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 52px;
  white-space: nowrap;
}
.hello__text {
  margin-bottom: 30px;
  font-size: 2rem;
  line-height: 24px;
}
.contact-list li {
  margin-bottom: 10px;
}
.contact-list__link {
  display: flex;
  align-items: center;
  color: var(--color-dark);
  opacity: 0.9;
}
.contact-list__item {
  display: flex;
  align-items: center;
}
.social {
  display: flex;
  margin-top: 35px;
}
.social-link {
  margin-right: 15px;
  transition: var(--transition);
}
.icon {
  margin-right: 15px;
  width: 16px;
  height: 16px;
  transition: var(--transition);
}
.icon-social {
  margin: 10px 13px;
  width: 17px;
  height: 17px;
}
.icon-mail {
  background: url(../images/svg/mail_icon.svg) no-repeat center/contain;
}
.icon-phone {
  background: url(../images/svg/phone_icon.svg) no-repeat center/contain;
}
.icon-location {
  background: url(../images/svg/location_icon.svg) no-repeat center/contain;
}
.icon-facebook {
  background: url(../images/svg/facebook_icon.svg) no-repeat center/contain;
}
.icon-twitter {
  background: url(../images/svg/twitter_icon.svg) no-repeat center/contain;
}
.icon-github {
  background: url(../images/svg/github_icon.svg) no-repeat center/contain;
}
.contact-list__item:hover span,
.contact-list__link:hover span {
  filter: invert(76%) sepia(19%) saturate(943%) hue-rotate(350deg)
    brightness(82%) contrast(90%);
}
/* .contact-list__link:hover span {
  filter: invert(48%) sepia(73%) saturate(583%) hue-rotate(166deg)
    brightness(93%) contrast(105%);
} */
.social-link:hover {
  border-radius: 4px;
  background-color: var(--color-dark);
}
address {
  font-style: normal;
}
.social-list {
  display: block;
}
.social-list__link {
  display: block;
}
.hello-img {
  margin: 0 auto;
  height: 300px;
  width: 300px;
  border: 20px solid rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  opacity: 0.8;
}
.hello-img img {
  max-width: 100%;
  height: auto;
  border: 20px solid rgba(0, 0, 0, 0.17);
  border-radius: 50%;
}

.section-title {
  font-size: 3.3rem;
  font-weight: 500;
  margin-bottom: 25px;
  opacity: 0.8;
}
.section-subtitle {
  font-size: 2.5rem;
  margin: 20px 0;
  opacity: 0.8;
}
.section-text {
  padding-bottom: 16px;
  opacity: 0.8;
}
.tags {
  margin-left: 50px;
}
.tags-list {
  opacity: 0.8;
}
.tag-list__item {
  list-style: square;
}
.tag {
  padding: 0.2em 0.4em;
  margin-left: 7px;
  font-size: 85%;
  background-color: var(--tag-color);
  border-radius: 6px;
  color: var(--color-dark);
}
.text-light {
  color: var(--text-light);
  font-size: 1.3rem;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  position: relative;
  margin-bottom: 30px;
  padding: 10px;
  flex-basis: 30%;
  color: var(--text-color);
  border: 1px solid var(--tag-color);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  opacity: 0.8;
  transition: var(--transition);
}

.card__img {
  width: 100%;
}

.card:hover {
  opacity: 1;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.card__content {
  padding: 10px;
}

.card__title {
  margin: 10px 0;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.5rem;
  letter-spacing: 4px;
  white-space: nowrap;
  text-transform: uppercase;
}
.card__desc {
  margin-bottom: 50px;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 100;
  line-height: 2.1rem;
}

.card__tags {
  position: absolute;
  bottom: 5px;
  padding-bottom: 10px;
}

.education__subtitle {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 15px;
  opacity: 0.8;
  margin-left: 10px;
  margin-top: 15px;
}

/* player */
.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-height: 560px; */
  margin: 0 auto;
  overflow: hidden;
}

.video-container:hover .player__controls {
  transform: translateY(0);
}

.video-container__wrapper {
  position: relative;
  /* margin: 3rem 0; */
  width: 100%;
  height: 100%;
}

.video-player {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  overflow: hidden;
}

.player__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  background: url(../media/svg/player_btn.svg) no-repeat center center/cover;
  border: none;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: var(--transition);
}

.player:hover .player__button {
  filter: invert(17%) sepia(0%) saturate(11%) hue-rotate(159deg) brightness(99%);
}

.player__controls {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 65px;
  display: flex;
  align-items: center;
  transform: translateY(65px);
  background-color: var(--color-dark);
  opacity: 0.8;
  transition: var(--transition);
}

.player__controls.fullscreen-mode {
  transform: translateY(0);
}

.player:hover .player__controls {
  transform: translateY(0);
}

.player__controls button {
  border: none;
}

.player__controls-btn {
  margin: 0 50px 0 30px;
}

.player__controls-play {
  width: 19px;
  height: 26px;
  background: url(../media/svg/controls_play_btn.svg) no-repeat center;
}

.player__controls-pause {
  width: 19px;
  height: 26px;
  background: url(../media/svg/pause.svg) no-repeat center;
}

.progress-bar {
  height: 8px;
  outline: none;
  transition: background 450ms ease-in;
  appearance: none;
}

.progress-video {
  background: linear-gradient(
    to right,
    var(--primary-color) 0%,
    var(--primary-color) 0%,
    var(--color-white) 0%,
    var(--color-white) 100%
  );
}

.progress-sound {
  background: linear-gradient(
    to right,
    var(--primary-color) 0%,
    var(--primary-color) 20%,
    var(--color-white) 20%,
    var(--color-white) 100%
  );
}

.player__controls-progress {
  margin-right: 50px;
  flex-grow: 1;
}

.player__controls-volume {
  margin-right: 50px;
}

.player__controls-volume_yep {
  width: 38px;
  height: 30px;
  background: url(../media/svg/controls_volume_btn.svg) no-repeat center;
}

.player__controls-volume_nope {
  width: 38px;
  height: 30px;
  background: url(../media/svg/mute.svg) no-repeat center;
}

.player__controls-volume-input {
  max-width: 155px;
  margin-right: 50px;
}

.player__controls-fullscreen {
  margin-right: 30px;
}

.player__controls-fullscreen_yep {
  width: 36px;
  height: 36px;
  background: url(../media/svg/controls_fullscreen_btn.svg) no-repeat center;
}

.player__controls-fullscreen_nope {
  width: 36px;
  height: 36px;
  background: url(../media/svg/fullscreen_exit.svg) no-repeat center;
}

.progress-video::-webkit-slider-thumb,
.progress-sound::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  background: var(--color-light);
}

:-moz-full-screen .player__controls-fullscreen_yep {
  background-image: url(../media/svg/fullscreen_exit.svg);
}
:-webkit-full-screen .player__controls-fullscreen_yep {
  background-image: url(../media/svg/fullscreen_exit.svg);
}

.player__controls-fullscreen,
.player__controls-volume,
.player__controls-pause,
.player__controls-play {
  cursor: pointer;
}

.player__controls-fullscreen:hover,
.player__controls-volume:hover,
.player__controls-pause:hover,
.player__controls-play:hover {
  filter: opacity(0.8);
}

.link {
  color: var(--link-color);
  text-decoration: none;
}

.footer-text {
  /* padding-top: 3rem; */
  font-size: 110%;
  font-weight: 300;
  text-align: center;
  /* color: var(--primary-color); */
}

@media only screen and (max-width: 768px) {
  .humburger-container {
    height: 50px;
    /* display: flex;
  justify-content: flex-end;
  height: 0; */
  }
  .header__navigation {
    height: 0;
  }
  .navigation {
    height: 60px;
  }
  .player__container {
    height: auto;
  }

  /* .player__controls {
    transform: translateY(0);
  } */

  /* .player:hover .player__controls {
    transform: translateY(-15px);
  } */

  .player__button {
    width: 130px;
    height: 130px;
  }

  .player__controls {
    height: 35px;
    transform: translateY(0);
    bottom: 0;
  }

  .player__controls-btn {
    margin: 0 15px;
  }

  .player__controls-play {
    width: 12px;
    height: 17px;
    background: url(../media/svg/controls_play_btn.svg) no-repeat center
      center/cover;
  }

  .player__controls-pause {
    width: 12px;
    height: 17px;
    background: url(../media/svg/pause.svg) no-repeat center center/cover;
  }

  .progress-bar {
    height: 5px;
  }

  .player__controls-progress {
    margin-right: 15px;
    width: calc(60% - 50px);
  }

  .player__controls-volume {
    margin-right: 15px;
  }

  .player__controls-volume_yep,
  .player__controls-volume_nope {
    width: 24px;
    height: 24px;
    background-size: contain;
  }

  .player__controls-volume-input {
    width: calc(30% - 50px);
    margin-right: 15px;
  }

  .progress-video::-webkit-slider-thumb,
  .progress-sound::-webkit-slider-thumb {
    width: 13px;
    height: 13px;
  }

  .player__controls-fullscreen {
    margin-right: 15px;
    width: 21px;
    height: 21px;
    background: url(../media/svg/controls_fullscreen_btn.svg) no-repeat center
      center/cover;
  }
}

@media only screen and (max-width: 414px) {
  .player__button {
    width: 80px;
    height: 80px;
  }
  .player__controls-fullscreen {
    width: 18px;
    height: 17px;
  }
}

@media only screen and (max-width: 320px) {
  .player__controls-play {
    margin: 0 10px;
  }

  .player__controls-progress {
    margin-right: 10px;
  }

  .player__controls-volume {
    margin-right: 10px;
  }

  .player__controls-volume-input {
    margin-right: 10px;
  }
  .player__controls-fullscreen {
    margin-right: 10px;
  }
}

/* end plaer */

/* .player {
  position: relative;
  overflow: hidden;
}

.player__container {
  height: 412px;
}

.player__video {
  position: relative;
  height: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark);
}

video {
  width: 100%;
  height: 100%;
}

.player__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  background: url(../images/player/svg/player_btn.svg) no-repeat center
    center/cover;
  border: none;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: var(--transition);
}

.player:hover .player__button {
  filter: invert(17%) sepia(0%) saturate(11%) hue-rotate(159deg) brightness(99%);
}

.player__controls {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 65px;
  display: flex;
  align-items: center;
  transform: translateY(65px);
  background-color: var(--color-dark);
  opacity: 0.8;
  transition: var(--transition);
}

.player:hover .player__controls {
  transform: translateY(0);
}

.player__controls button {
  border: none;
}

.player__controls-btn {
  margin: 0 50px 0 30px;
}

.player__controls-play {
  width: 23px;
  height: 30px;
  background: url(../images/player/svg/controls_play_btn.svg) no-repeat center;
}

.player__controls-pause {
  width: 19px;
  height: 26px;
  background: url(../images/player/svg/pause.svg) no-repeat center;
}

.progress {
  background: linear-gradient(
    to right,
    var(--primary-color) 0%,
    var(--primary-color) 54%,
    var(--color-white) 54%,
    var(--color-white) 100%
  );
  height: 8px;
  outline: none;
  transition: background 450ms ease-in;
  appearance: none;
}

.player__controls-progress {
  margin-right: 50px;
  flex-grow: 1;
}

.player__controls-volume {
  margin-right: 50px;
}

.player__controls-volume_yep {
  width: 38px;
  height: 30px;
  background: url(../images/player/svg/controls_volume_btn.svg) no-repeat center;
}

.player__controls-volume_nope {
  width: 38px;
  height: 30px;
  background: url(../images/player/svg/mute.svg) no-repeat center;
}

.player__controls-volume-input {
  max-width: 155px;
  margin-right: 50px;
}

.player__controls-fullscreen {
  margin-right: 30px;
}

.player__controls-fullscreen_yep {
  width: 36px;
  height: 36px;
  background: url(../images/player/svg/controls_fullscreen_btn.svg) no-repeat
    center;
}

.player__controls-fullscreen_nope {
  width: 36px;
  height: 36px;
  background: url(../images/player/svg/fullscreen_exit.svg) no-repeat center;
}

:-moz-full-screen .player__controls-fullscreen_yep {
  background-image: url("../images/player/svg/fullscreen_exit.svg");
}
:-webkit-full-screen .player__controls-fullscreen_yep {
  background-image: url("../images/player/svg/fullscreen_exit.svg");
}

.player__controls-fullscreen,
.player__controls-volume,
.player__controls-pause,
.player__controls-play {
  cursor: pointer;
}

.player__controls-fullscreen:hover,
.player__controls-volume:hover,
.player__controls-pause:hover,
.player__controls-play:hover {
  filter: opacity(0.8);
} */

.footer {
  padding: 25px 0;
  border-top: 2px solid var(--tag-color);
  display: flex;
  justify-content: space-between;
  color: var(--color-dark);
  opacity: 0.8;
}
.icon-git {
  background: url(../images/svg/github_icon.svg) no-repeat center/contain;
  width: 20px;
  height: 20px;
  margin-right: 7px;
  transition: var(--transition);
}
/* .icon-rsschool {
  background: url(../images/svg/rs_school_js.svg) no-repeat center/contain;
  margin-right: 7px;
  width: 60px;
  height: 30px;
  transition: var(--transition);
} */

@media only screen and (max-width: 768px) {
  .hamburger {
    position: relative;
    top: 10px;
    right: 0;
    display: inline-block;
    width: 31px;
    height: 25px;
    transition: var(--transition);
    cursor: pointer;
  }

  .navigation {
    justify-content: unset;
    align-items: unset;
    flex-direction: column;
    height: auto;
    margin-top: 30px;
    /* overflow: hidden; */
    transition: var(--transition);
  }

  .show-menu {
    height: 365px;
  }

  .navigation__item {
    display: block;
    padding: 10px 0px;
    transition: var(--transition);
  }

  .navigation__item:hover {
    display: block;
    padding: 10px 20px;
    background-color: var(--primary-light);
    color: var(--primary-color);
  }
  .layout-2-col {
    justify-content: center;
    text-align: center;
  }
  .hello__info {
    margin-bottom: 30px;
    min-width: 100%;
    flex-basis: unset;
  }

  .hello__text {
    margin-bottom: 15px;
  }

  .social {
    margin-top: 25px;
    justify-content: center;
  }

  .contact-list__link {
    justify-content: center;
  }

  .contact-list__item {
    justify-content: center;
  }

  .card {
    flex-basis: 45%;
  }

  .card__tags {
    display: flex;
  }

  /* .player__container {
    height: auto;
  }

  .player:hover .player__controls {
    transform: translateY(-15px);
  } */

  /* .player__button {
    width: 130px;
    height: 130px;
  }

  .player__controls {
    height: auto;
    transform: translateY(20px);
    background-color: transparent;
  } */

  /* .player__controls-btn {
    margin: 0 15px;
  }

  .player__controls-play {
    width: 14px;
    height: 20px;
    background: url(../images/player/svg/controls_play_btn.svg) no-repeat center
      center/cover;
  } */

  /* .player__controls-pause {
    width: 12px;
    height: 17px;
    background: url(../images/player/svg/pause.svg) no-repeat center
      center/cover;
  }

  .progress {
    height: 5px;
  }

  .player__controls-progress {
    margin-right: 15px;
    width: calc(60% - 50px);
  } */

  /* .player__controls-volume {
    margin-right: 15px;
    width: 22px;
    height: 18px;
    background: url(../images/player/svg/controls_volume_btn.svg) no-repeat
      center center/cover;
  }

  .player__controls-volume-input {
    width: calc(30% - 50px);
    margin-right: 15px;
  } */
  /* 
  .player__controls-fullscreen {
    margin-right: 15px;
    width: 20px;
    height: 20px;
    background: url(../images/player/svg/controls_fullscreen_btn.svg) no-repeat
      center center/cover;
  } */
}
@media only screen and (max-width: 414px) {
  .content {
    margin: 0;
    padding: 0 20px;
  }
  .hamburger {
    top: 22px;
  }
  .hello__title {
    white-space: normal;
  }
  .hello-img {
    height: 280px;
    width: 280px;
    flex-shrink: 0;
  }
  address {
    white-space: nowrap;
  }
  .card {
    flex-basis: auto;
  }
  /* .player__button {
    width: 80px;
    height: 80px;
  } */
}
@media only screen and (max-width: 320px) {
  .hello-img {
    height: 230px;
    width: 230px;
  }

  /* .player__controls-play {
    margin: 0 10px;
  }

  .player__controls-progress {
    margin-right: 10px;
  }

  .player__controls-volume {
    margin-right: 10px;
  } */

  /* .player__controls-volume-input {
    margin-right: 10px;
  }
  .player__controls-fullscreen {
    margin-right: 10px;
  } */
}
