:root {
  --font-size: 10px;
  --primary-colir: #2196f3;
  --text-color: #212529;
  --text-light: #7d7d7d;
  --tag-color: #eff1f3;
  --color-dark: #000;
  --color-white: #fff;
  --border-dark: rgba(0, 0, 0, 0.17);
  --border-light: rgba(0, 0, 0, 0.07);
  --content-width: 1024px;
  --tablet-width: 768px;
  --mobile-big-width: 414px;
  --mobile-small-width: 320px;
}

html {
  font-size: var(--font-size);
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.6rem;
  color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.content {
  max-width: var(--content-width);
  border: 1px solid aliceblue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  padding: 25px 40px;
  margin: 30px auto;
}

.promo {
  padding: 30px 15px;
}
.layout-2-col {
  display: flex;
  flex-wrap: wrap;
}
.promo__info {
  padding: 0 15px;
  min-width: 50%;
  flex-basis: 50%;
  opacity: 0.8;
}
.promo__greet {
  padding: 10px 30px;
  background-color: var(--primary-colir);
  font-size: 1.6rem;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: bold;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
  color: var(--color-white);
}
.promo__title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 52px;
  white-space: nowrap;
}
.promo__text {
  margin-bottom: 30px;
  font-size: 2rem;
  line-height: 24px;
}
.contact-list li {
  margin-bottom: 10px;
}
.contact-list__link {
  display: flex;
  align-items: center;
  color: var(--color-dark);
  opacity: 0.9;
}
.contact-list__item {
  display: flex;
  align-items: center;
}
.social {
  display: flex;
  margin-top: 35px;
}
.social-link {
  margin-right: 15px;
  transition: all 0.2s ease-out;
}
.icon {
  margin-right: 15px;
  width: 16px;
  height: 16px;
  transition: all 0.2s ease-out;
}
.icon-social {
  margin: 10px 13px;
  width: 17px;
  height: 17px;
}
.icon-mail {
  background: url(../images/svg/mail_icon.svg) no-repeat center/contain;
}
.icon-phone {
  background: url(../images/svg/phone_icon.svg) no-repeat center/contain;
}
.icon-location {
  background: url(../images/svg/location_icon.svg) no-repeat center/contain;
}
.icon-facebook {
  background: url(../images/svg/facebook_icon.svg) no-repeat center/contain;
}
.icon-twitter {
  background: url(../images/svg/twitter_icon.svg) no-repeat center/contain;
}
.icon-github {
  background: url(../images/svg/github_icon.svg) no-repeat center/contain;
}
.contact-list__item:hover span,
.contact-list__link:hover span {
  filter: invert(48%) sepia(73%) saturate(583%) hue-rotate(166deg)
    brightness(93%) contrast(105%);
}
.social-link:hover {
  border-radius: 4px;
  background-color: var(--color-dark);
}
address {
  font-style: normal;
}
.social-list {
  display: block;
}
.social-list__link {
  display: block;
}
.promo-img {
  margin: 0 auto;
  height: 300px;
  width: 300px;
  border: 20px solid rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  opacity: 0.8;
}
.promo-img img {
  max-width: 100%;
  height: auto;
  border: 20px solid rgba(0, 0, 0, 0.17);
  border-radius: 50%;
}

.about {
  padding: 30px 15px;
}
.section-title {
  font-size: 3.3rem;
  font-weight: 500;
  margin-bottom: 25px;
  opacity: 0.8;
}
.section-subtitle {
  font-size: 2.5rem;
  margin: 20px 0;
  opacity: 0.8;
}
.section-text {
  padding-bottom: 16px;
  opacity: 0.8;
}
.tags {
  margin-left: 50px;
}
.tags-list {
  opacity: 0.8;
}
.tag-list__item {
  list-style: square;
}
.tag {
  padding: 0.2em 0.4em;
  margin-left: 7px;
  font-size: 85%;
  background-color: var(--tag-color);
  border-radius: 6px;
  color: var(--color-dark);
}
.text-light {
  color: #7d7d7d;
  font-size: 1.3rem;
}
.coder {
  padding: 30px 15px;
}
.coder__highlight {
  padding: 16px;
  overflow: auto;
  font-size: inherit;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}
.education {
  padding: 30px 15px;
}
.language {
  padding: 30px 15px;
}
.footer {
  padding: 25px 0;
  border-top: 2px solid var(--tag-color);
  display: flex;
  justify-content: space-between;
  color: var(--color-dark);
  opacity: 0.8;
}
.icon-git {
  background: url(../images/svg/github_icon.svg) no-repeat center/contain;
  width: 20px;
  height: 20px;
  margin-right: 7px;
  transition: all 0.2s ease;
}
.icon-rsschool {
  background: url(../images/svg/rs_school_js.svg) no-repeat center/contain;
  margin-right: 7px;
  width: 60px;
  height: 30px;
  transition: all 0.2s ease;
}

@media only screen and (max-width: 768px) {
  .layout-2-col {
    justify-content: center;
    text-align: center;
  }
  .promo__info {
    margin-bottom: 30px;
    min-width: 100%;
    flex-basis: unset;
  }

  .promo__text {
    margin-bottom: 15px;
  }
  .social {
    margin-top: 25px;
    justify-content: center;
  }
  .contact-list__link {
    justify-content: center;
  }
  .contact-list__item {
    justify-content: center;
  }
}
@media only screen and (max-width: 414px) {
  .content {
    margin: 0;
    padding: 0 20px;
  }
  .promo__title {
    white-space: normal;
  }
  .promo-img {
    height: 280px;
    width: 280px;
    flex-shrink: 0;
  }
  address {
    white-space: nowrap;
  }
}
@media only screen and (max-width: 320px) {
  .promo-img {
    height: 230px;
    width: 230px;
  }
}
